body {
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: brown;
    padding: 20px 0;
}
.box {
    position: relative;
    width: 1230px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 100px;
    right: 120px;
}
nav li {
    display: inline;
    margin: 0 0 0 40px;;
}
nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size:23px;
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: red;
    text-decoration:  underline;
    
}
nav a:active {
    color: rgb(219, 151, 122);
    text-decoration:  none;
}
.info-container {
    width: 970px;
    margin: 35 auto;
    padding: 40px 0;
}
.info-container li  {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin-right: 25px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black ;
    border-radius: 10px;
}
.info-container li:hover{
    border-color: red;
    transition: 1s transform;
    transform: scale(1.1);
    cursor: pointer;
}
.info-container li:active{
    border-color: rgb(219, 151, 122);
}
.info-container h2 {
    font-style:italic;
    font-size: 28px;
    font-weight: bold;
}
.info {
    
    font-style:italic;
    font-size: 18px;
    padding: 10px;
}
.copyright {
    color: white;
    font-size: 17px;
    margin-top: 30px;
    font-style:initial;
}
main {
    width: 970px; 
    margin:0 auto;
}
.principalTitle {
    margin-top: 90px;
    margin: 0 0 0 0 40px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    text-decoration: underline;
}
.secoundaryTitle {
    margin-top: 50px;
    margin: 0 0 0 0 40px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-decoration: underline;
}
.itens{
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.itens::before {
    content: "★";
}
.itens:after {
    content: "★";
}
.text-center{
    text-align: center;
}
footer {
    text-align: center;
    background: url("bg.jpg");
}
.image-footer{
    margin-top: 90px;
}